<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ name }}</title>

    <meta name="robots" content="noindex,nofollow">
    <meta name="generator" content="Satis {{ constant('Composer\\Satis\\Satis::VERSION') }}">
    <style type="text/css">
      .plain {
        list-style-type: none;
        margin: 0;
        padding: 0;
        -webkit-padding-start: 0;
        -webkit-margin-before: 0;
      }
      .dont-break-out {
        /* These are technically the same, but use both */
        overflow-wrap: break-word;
        word-wrap: break-word;

        -ms-word-break: break-all;
        /* This is the dangerous one in WebKit, as it breaks things wherever */
        word-break: break-all;
        /* Instead use this non-standard one: */
        word-break: break-word;

        /* Adds a hyphen where the word breaks, if supported (No Blink) */
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
      }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <div class="header m-t-1">
            <h1>
                {% if name %}
                    {{ name }}
                {% else %}
                    The Composer Repository
                {% endif %}
            </h1>
            {% if description %}
                <p>{{ description|raw }}</p>
            {% endif %}
            <div class="float-right">
                Last updated: <time class="timeago" datetime="{{ "now"|date(constant('\DateTime::ISO8601')) }}">{{ "now"|date(constant('\DateTime::RSS')) }}</time>
            </div>
        </div>
        <div class="content">
            <div class="composer-json-instructions">
                Adding the repository to <em>composer.json</em>:
                <pre class="bg-dark text-white"><code>{
    "repositories": [
        {
            "type": "composer",
            "url": "{{ url }}"
        }
    ]
}</code></pre>
              <form>
                <fieldset class="form-group">
                  <label for="search">Filter by package name:</label>
                  <input type="text" id="search" autocomplete="off" class="form-control" />
                </fieldset>
              </form>

                <div id="package-list">
                {% for name, package in packages %}
                    <div class="card mb-3" id="{{ package.highest.name }}" data-title="{{ package.highest.name }}">
                        <h3 class="card-header dont-break-out"><a href="#{{ package.highest.name }}" class="text-muted mr-1"><svg class="octicon-link" aria-hidden="true" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a> {{ package.highest.name }}</h3>
                        <div class="card-body search-ignore">
                          {% if package.abandoned %}
                              <p class="abandoned">
                                  Package {{ package.highest.name }} is abandoned, you should avoid using it.
                                  {% if package.replacement %}
                                      Use {{ package.replacement }} instead.
                                  {% else %}
                                      No replacement was suggested.
                                  {% endif %}
                              </p>
                          {% endif %}
                          {% if package.highest.description %}
                              <p class="card-title">{{ package.highest.description }}</p>
                          {% endif %}
                          <table class="table table-sm table-responsive">
                              {% if package.highest.homepage %}
                                  <tr>
                                      <th>Homepage</th>
                                      <td><a href="{{ package.highest.homepage }}">{{ package.highest.homepage }}</a></td>
                                  </tr>
                              {% endif %}
                              {% if package.highest.license %}
                                  <tr>
                                      <th>License</th>
                                      <td>{{ package.highest.license|join(', ') }}</td>
                                  </tr>
                              {% endif %}
                              {% if package.highest.authors %}
                                  <tr>
                                      <th>Authors</th>
                                      <td>
                                          {% for author in package.highest.authors %}
                                              {%- if author.homepage -%}
                                                  <a href="{{ author.homepage }}">{{ author.name }}</a>
                                              {%- else -%}
                                                  {{ author.name }}
                                              {%- endif -%}
                                              {%- if not loop.last -%}, {% endif -%}
                                          {% endfor %}
                                      </td>
                                  </tr>
                              {% endif %}
                              {% if package.highest.support %}
                              <tr>
                                  <th>Support</th>
                                  <td>
                                      <ul class="plain">
                                      {% for support_type, support_url in package.highest.support %}
                                          <li>{{ support_type|capitalize }}: <a href="{{ support_url }}">{{ support_url }}</a></li>
                                      {% endfor %}
                                      </ul>
                                  </td>
                              </tr>
                              {% endif %}
                              <tr>
                                  <th>Releases</th>
                                  <td>
                                      {% for version in package.versions %}
                                          {%- if version.distType -%}
                                              <a href="{{ version.distUrl }}" title="{{ version.distReference }}">{{ version.prettyVersion }}</a>
                                          {%- else -%}
                                              <a href="{{ version.sourceUrl }}" title="{{ version.sourceReference }}">{{ version.prettyVersion }}</a>
                                          {%- endif -%}
                                          {%- if not loop.last -%}, {% endif -%}
                                      {% endfor %}
                                  </td>
                              </tr>
                              <tr>
                                  <th>Required by</th>
                                  <td>
                                      {% set package_dependencies = attribute(dependencies, name) %}
                                      {% if package_dependencies|length %}
                                          <ul>
                                              {% for dependency in package_dependencies %}
                                                  <li><a href="#{{ dependency }}">{{ dependency }}</a></li>
                                              {% endfor %}
                                          </ul>
                                      {% endif %}
                                  </td>
                              </tr>
                          </table>
                        </div><!-- card-block -->
                    </div><!-- card -->
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="row m-b-1">
            <div class="col-sm-9">
                <small>This Composer Repository is proudly powered by <a href="https://github.com/composer/satis">Satis</a> {{ constant('Composer\\Satis\\Satis::VERSION') }} - Last updated:  {{ "now"|date(constant('\DateTime::ISO8601')) }}</small>
            </div>
            <div class="col-sm-3">
                <a href="https://www.netlify.com" class="float-right mb-3"><img src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg" alt="Deploys By Netlify"></a>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hideseek/0.7.1/jquery.hideseek.min.js" integrity="sha384-Fq2XtzpjxLK3vnuzREQOaNyjV3rU8Eb2t7sUkEcmC6xMbLKKM10bLNOSGk3kZnnf" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.5.4/jquery.timeago.min.js" integrity="sha384-Lsg6PiImyd9fitJDwdG1nrsFFvFpWZW52KfancQGLVF5oT9FBrfVNPtGL2LoayFu" crossorigin="anonymous"></script>
    <script type="text/javascript">
    $(function() {
      $.timeago.settings.refreshMillis = 5000
      $('time.timeago').timeago()
      $('#search').hideseek({
        attribute: 'data-title',
        ignore: '.search-ignore',
        list: '#package-list',
        nodata: 'No results.'
      })
      if (!window.location.hash) {
        $('#search').focus()
      }
    })
    </script>
</body>
</html>
